# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/gallery-dl/
nohup.out
.byebug_history
config/youtubedl.conf
lib/gallery-dl/processes/
